*{
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  
  .row::after{
    content:"";
    clear: both;
    display: block;
  }
  
  /* se lo schermo è minore di 768px qualsiasi colonna è 100%*/
  @media only screen and (max-width: 768px){
    [class*=col-]{
      width: 100%;
    }
  }

  
body{
    display: inline-flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction:column;
     /*background-color: grey;*/
     background-color: #0078bd;
}


#section{
    display: flex;
    flex-direction:row;
    height: 40%;
   /* width: 100%;*/
    align-items: center;
    justify-content: center;
}


#usersSection{
    margin-right: 10px;
    margin-left: 10px;
    display: inline-block;
    height: 100%;
    /*width: 50%;*/
    border: 1px solid black;
    background: url("../images/user.png") center;
    background-size: cover;
    border-radius: 10%;

}

#groupsSection{
    border-radius: 10%;
    margin-right: 10px;
    margin-left: 10px;
    display: inline-block;
    height: 100%;
    /*width: 50%;*/
    border: 1px solid black;
    background: url("../images/group.png") center;
    background-size: cover;
}


#groupsSection:hover,#usersSection:hover{
  box-shadow: 4px 4px 4px 4px rgb(41, 38, 26);
  transition: 0.2s;
  border: 2px solid rgb(107, 181, 42);
  outline: 2px solid rgb(107, 181, 42);
}

.menu-icon{
    width: 35px;
    position: absolute;
    top: 5%;
    right: 10%;
    cursor: pointer;
}

.menu-box{
    width: 80%;
    position: absolute;
    background: #242449;
    top: 17%;
    left: 10%;
    padding: 50px 100px;
    transition: top 1s;

}

.right-links{
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
    align-items: center; 
}

.right-links img{
    width: 35px;
    margin-left: 20px;
    cursor: pointer;
}

.right-links a{
    text-decoration: none;
    color: #fff;
    background: #917409;
    padding: 15px;
}

.menu-links a{
    text-decoration: none;
    color: white;
    display: block;
    width: fit-content;
    margin: 30px 0;
    font-size: 28px;;
    text-transform: uppercase;
}

.menu-links a:hover{
    font-weight: 700;
}

button {
    /*font-family: "Roboto", sans-serif;*/
    text-transform: uppercase;
    outline: 0;
    background: black;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    /*-webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;*/
    cursor: pointer;
  }

  #menu{
    top: -100vh;
}