body{
    background: grey;; /* fallback for old browsers */
  background-color: grey;
}

#userInfo{
    border: 1px solid rgb(247, 246, 246);
    color: white;
    border-radius: 10px;
    margin: 30px;
    background-color: white;
    padding: 5px;
}

.entryRow{
    border: 1px solid rgb(247, 246, 246);;
    color: white;
    border-radius: 5%;
    margin: 20px;
    background-color: black;
    padding: 5px;
    font-weight: bold;
}

.deleteMemberOfBtn{
    background-color: rgb(255, 255, 255);
    border-radius: 5%;
    color: black;
    cursor: pointer;
    margin-left: 5%;
    border: none;
    outline: none;
}

#saveBtn{
    background-color: black;
    height: 5vh;
    border-radius: 5%;
    color: white;
    cursor: pointer;
    margin-left: 5%;
}

.entryRow[local]{
    background-color: rgb(111, 24, 24);
}