<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TraslucentAdmin</title>
    <link rel="stylesheet" href="./assets/css/login.css">
    <link rel="icon" href="./assets/images/letter-t.png" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Geist:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
  <div class="row">
    
    <div class="login-page col-4">
        <div class="form">
          <div class="label" style="text-align: center;margin-bottom: 5vh;"><b> Università di Catania </b>/ TraslucentAdmin </div>
          <input type="text" placeholder="Codice Fiscale" id="codiceFiscaleInput"/>
          <input type="password" placeholder="password" id="passwordInput"/>
          <button id="loginButton">LOGIN ⇥</button>
          <div id="LoginError" style="color: red; display: none; font-weight: bold;"> Credenziali Errate </div>
        </div>
      </div>
      </div>
      <script src="index.js"></script>
</body>
</html>